if SHIELD_C_DUX

config ZMK_SPLIT
	default y

endif

if SHIELD_C_DUX_LEFT

config ZMK_KEYBOARD_NAME
	default "C. Dux"

endif

if SHIELD_C_DUX_REV2_LEFT

config ZMK_KEYBOARD_NAME
	default "C. Dux v2"

endif


if SHIELD_C_DUX_LEFT || SHIELD_C_DUX_REV2_LEFT

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y

endif
